<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>All registered users</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills">
		  <li class="active"><a href="#">List</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{{{message}}}
		<table class="table pad-top-10">
			<thead>
				<tr>
					<th>Username</th>
					<th>First name</th>
					<th>Last name</th>
					<th>Role</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{{{users}}}
			</tbody>
		</table>
	</div>
</div>